.student {
  border: rgba(1, 76, 125, 0.5) solid 1px;
  border-radius: 10px;
  width: 21.4%;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 100%;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8%;
}
//Modal
.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.button {
  min-width: 100px;
  height: 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.overlay {
  background: rgba(4, 3, 3, 0.8);
}
.modal-navbar-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-radius: 10px;
  max-width: 900px;
  min-width: 300px;
  min-height: 400px;
  height: 95%;
  .modal-header {
    width: calc(100% - 20px);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #303030 solid 1px;
    background-color: #00558d;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    .header-next {
      font-size: 14px;
      color: #0095f6;
    }
    .header-next:hover {
      color: white;
      cursor: pointer;
    }
  }
  .modal-main {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    .modal-info {
      flex: 0.7;
      flex-wrap: nowrap;
      flex-direction: column;
      .info {
        display: flex;
        margin-top: 3px;
        .title {
          display: inline-block;
          word-wrap: break-word;
          width: 30%;
          font-weight: 600;
          text-align: end;
          margin-right: 30px;
          font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Helvetica, Arial, sans-serif';
          margin-top: 4px;
        }
        .span {
          max-width: 60%;
          word-wrap: break-word;
          font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Helvetica, Arial, sans-serif';
        }
      }
    }
    .appvide {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .appcanvas {
      position: absolute;
      top: 100px;
      height: 480;
    }

    .myapp h1 {
      width: calc(100vw - 270px);
      text-align: center;
      background: #00558d;
      color: white;
      margin: 0;
      padding: 15px;
    }
    .home__tag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      .choose {
        color: #a8a8a8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;

        cursor: pointer;
        .icon {
          width: 16px;
          margin-right: 7px;
        }
        .span {
          font-size: 14px;
          font-weight: 600;
          margin: 0px 0px 0px 0px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
      }
    }
    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      line-height: 1.4;
      background: white;
      border-radius: 10px;
      min-height: 400px;
      .main {
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: 93.5%;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        margin-bottom: 10px;
        .container {
          width: 80%;
          .image {
            flex: 1;
            max-height: 567px;
            .image-slider-container {
              width: 400px;
            }

            .image-slider {
              width: 100%;
              position: relative;
              transition: transform 0.2s;
              display: flex !important;
              justify-content: center;
              flex-shrink: 0;
              flex-grow: 0;
              border-radius: 0px 0px 10px 10px;
            }

            .image-slider > img {
              // width: 100%;
              object-fit: contain;
              max-height: 380px;
            }
            .image-slider > canvas {
              max-height: 380px;
              position: absolute;
              display: inline-block;
              top: 0;
            }

            .img-slider {
              object-fit: none;
              display: block;
              flex-shrink: 0;
              flex-grow: 0;
            }
            .img-slider-btn {
              margin-right: 10px;
              all: unset;
              width: 16px;
              height: 16px;
              display: block;
              position: absolute;
              background-color: #464646;
              color: white;
              border-radius: 50%;
              padding: 8px;
              cursor: pointer;
              transition: background-color 100ms ease-in-out;
            }
            .img-slider-btn:hover {
              background-color: #606060;
              transform: scale(1.05);
            }
            .delete_image:hover {
              background-color: #606060 !important;
              transform: scale(1.05);
            }
          }
        }
      }
      .modal-image {
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-logo {
          width: 100%;
          height: 100px;
          color: #262626;
        }
      }

      .modal-text {
        color: #262626;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 5500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      .modal-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      .modal-upload {
        background-color: #0095f6;
        color: white;
        padding: 7px 16px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        margin-bottom: 30px;
        cursor: pointer;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
    }
  }
}

.input-span {
  word-wrap: break-word;
  font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Helvetica, Arial, sans-serif';
  font-size: inherit;
  font-weight: 450;
  padding: 6px 8px;
  width: 80%;
  padding-right: 30px;
  border-radius: 10px;
  outline: none;
  border: rgb(198, 194, 194) solid 0.2px;
  &:focus {
    outline: none;
    border: rgba(0, 148, 246, 0.69) solid 2px;
  }
}
.input-span-focus:focus-visible {
  outline: none;
  border: none;
}

.password-icon{
  position: absolute; 
  right: 5.4%;
  margin-top: 3px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.form-control {
  width: 88% !important;
}

@media (max-width: 1164px) {
  .student {
    width: 29.7%;
  }
}

@media (max-width: 840px) {
  .modal-navbar-content {
    .modal-main {
      flex-direction: column;
      .modal-info {
        flex: 1;
        width: 100%;
        .info {
          .title {
            width: 40%;
          }
        }
      }
      .appcanvas {
        width: 400px;
        height: 300px;
      }
      .appvide {
        justify-content: baseline;
        align-items: baseline;
        .video {
          width: 400px;
          height: 300px;
        }
      }
    }
  }
  .input-span {
    width: 80%;
    height: 23px;
  }
  .password-icon{
    right: 11%;
  }
  .form-control {
    width: 50% !important;
  }
}

@media (max-width: 720px) {
  .student {
    width: 46%;
    .student-image > img {
      max-height: 260px;
    }
  }
}
@media (max-width: 527px) {
  .student {
    width: 180px;
    height: 290px;
    .student-image > img {
      max-height: 184px;
    }
  }
  .input-span {
    width: 75%;
  }
  .form-control {
    width: 45% !important;
  }
  .modal-navbar-content {
    .modal-main {
      .appcanvas {
        width: 300px;
        height: 225px;
      }
      .appvide {
        .video {
          width: 300px;
          height: 225px;
        }
      }
    }
  }
}
